{#
/**
 * @file focal-point-focus.html.twig
 * Default theme implementation to present images for the focal-point-focus
 *
 * Available variables:
 * - focalpoint: (array) data related to js response
 *
 */
#}
<figure class="focuspoint-wrap">
{% if focalpoint.css is not empty %}
<style type="text/css" scoped>
{{ focalpoint.css }}
</style>
{% endif %}
<div class="focuspoint focuspoint-{{ focalpoint.field_name }}" data-focalpoint-breakpoints="{{ focalpoint.field_name }}" data-focal-provider="{{ focalpoint.focal_provider }}" data-height="{{ focalpoint.display_height }}"{% if focalpoint.css is empty %} style="height:{{ focalpoint.display_height }}px"{% endif %} data-focus-x="{{ focalpoint.x }}" data-focus-y="{{ focalpoint.y }}" data-image-w="{{ focalpoint.width }}" data-image-h="{{ focalpoint.height }}">
  <img {% if focalpoint.loading is not empty %} loading="{{ focalpoint.loading }}"{% endif %} src="{{ focalpoint.src }}" alt="{{ focalpoint.alt }}" />
</div>{% if focalpoint.title is not empty %}
<figcaption>{{ focalpoint.title }}</figcaption>
{% endif %}</figure>
